 #map {
	position: absolute;
	top: 180px;
    height: 500px;
    width: 99%;
	border: 2px solid green;
}
	   
	   /* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 18px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

h3 { color: darkgreen; font-family: 'Helvetica Neue', sans-serif; font-size: 36px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

option { color: #111; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

p {color: #111; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; font-size: 18px;  letter-spacing: -1px;}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 5px;
    margin: 3px 0;
    border: none;
    cursor: pointer;
    width: 49.75%;
}

button:disabled {
	background-color: grey;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.infoContainer {
	border: 2px solid darkgreen;
	width: 25%;
	padding: 5px;
	min-width: 450px;
}

.profilePic {
	display: inline-block;
	padding-top: 0px;
}

.profileInfo {
	display: inline-block;
	padding-left: 5px;
	padding-top: 0px;
}

.profileBut {
	padding-left: 5px;
	display: inline-block;
}

.login {
	margin-top: 20px;
	width: 30%;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid darkgreen;
	background-color: rgba(255,255,255,0.6);
	padding-bottom: 20px;
}

.logo {
	position: relative;
	size: 50%;
    z-index: 1;
	margin: auto;
}

.log_img {
	width: 30%;
	min-width: 400px;
    height: auto;
}

body {
    background-image: url("fish_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav > ul { display: none;}
nav:hover > ul {display: block; background:background-color:#4CAF50;; list-style-type:none;}
nav:hover > ul > li {border-bottom: 1px solid #b0c4de;}
nav:hover > ul > li {padding: 0.1em;}
nav:hover > ul > li:hover { background: #b0c4de;}

.menu_user { 
	position: absolute; top: 0px;
	margin-top: 5px;
	padding: 10px; 
	border: 2px solid green; 
	width: auto;
	z-index: 10;
	background-color:#4CAF50;;		
}

.menu_user button {
	border: 2px solid black;
	background-color: #377739
}

textarea {
	width: 100%;
	resize: vertical;
}

.selection_options {
	position: absolute;
	top: 150px;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #4CAF50; /* fallback color if gradients are not supported */
    background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
    background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Fx (3.6 to 15) */
    background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of IE 10*/
    background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */ 
    background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); /* Standard syntax; must be last */
    background-position: center right;
    background-repeat: no-repeat;
    border: 2px solid green;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

option:disabled {
	background: white;
}

.container select {
	-webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: white; /* fallback color if gradients are not supported */
    
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid grey;
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	width: 100%;
	padding: 12px 10px;
    margin: 8px 0; 
}

.new_comment {
	padding: 16px;
}

.comment {
	border: 2px solid darkgreen;
	padding-left: 10px;
	margin-top: 10px;
}
